.row {
    display: flex;
    /* align-items: stretch; */
}

.row .label {
    flex: 0 0 auto;
}

.row .container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.row .dish {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pizza {
    background-color: rgb(221, 79, 79);
}

.pasta {
    background-color: aquamarine;
}

.sauce {
    background-color: blueviolet;
}